
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scaleUpAndBack {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.03);
  }
  100% {
    transform: scaleX(1);
  }
}
@font-face {
  font-family: 'Filedazzle Unicase';
  src: url('/fonts/fonnts.com-Dazzle_Unicase_Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Filedazzle Unicase';
  src: url('/fonts/fonnts.com-Dazzle_Unicase_Medium.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

/* Apply globally */
body {
  font-family: 'Filedazzle Unicase', sans-serif;
}


.animate-scale-up-back {
  animation: scaleUpAndBack 0.6s ease-in-out 0.3s; /* Animation duration and easing */
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee {
  display: inline-flex;
  min-width: fit-content;
  gap: 12px;
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}






.custom-html-content ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.custom-html-content li {
  margin-bottom: 0.5rem;
  color: #d1d5db; /* text-gray-300 */
}

/* .custom-html-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
} */
 .custom-html-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  /* Gradient text */
  background: linear-gradient(to right, rgb(225, 193, 10), #e67f18, rgb(225, 193, 10)); /* gold → bronze → gold */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  height: 28px;
}


.custom-html-content p {
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #d1d5db;
}




.filedazzle-font {
  font-family: 'Filedazzle Unicase', sans-serif;
}



