@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scaleUpAndBack {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.03);
  }
  100% {
    transform: scaleX(1);
  }
}

.animate-scale-up-back {
  animation: scaleUpAndBack 0.6s ease-in-out 0.3s; /* Animation duration and easing */
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee {
  display: inline-flex;
  min-width: fit-content;
  gap: 12px;
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
